<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 parallel="tests"  表示使用不同的线程运行本文件中test标签定义的测试类
 thread-count="5" 表示同时开启运行测试脚本的线程数 -->
<suite name="自动化测试" parallel="true">

    <test name="test" preserver-order="true">
        <classes>
            <class name="com.zxp.test.learn.LearnTest1"/> 
			<class name="com.zxp.test.learn.WebDriverWaitTest"/> 
        </classes>

        <listeners>
            <listener class-name="org.uncommons.reportng.HTMLReporter" />
            <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
        </listeners> 
    </test>
</suite>